@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header-wrapper{
  position: fixed;
  width: 100%;
  background-color: #dbe21d;
  padding: 10px 20px;
  
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo >h1{
  font-family: Lobster, cursive, sans-serif;
  font-style: italic;
  font-size: 3em;
  color: white;
}





@media(max-width: 600px){
  .container{
    flex-direction: column;
   
  }


}